<div class="transferBox">
  <div class="transferBox__left d-flex flex-column align-items-center">
    <!-- -------------------------------------------caja del saldo -->
    <app-balance
    *ngIf="accountData"
    [accountData]="accountData"
    [viewStatus]="showComponents"
    (updateViews)="updateViewStatus($event)">
    </app-balance>
    <ng-template #loader>
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
    <!-- -----------------------------------------------caja de filtros -->
    <app-bill
    [@fadeEffect]
    *ngIf="showComponents.form"
    [viewStatus]="showComponents"
    (updateViews)="updateViewStatus($event)"
    >
    </app-bill>
  </div>
  <!-- ------------------------------------------------caja derecha -->
  <div class="transferBox__right">
    <app-target-service
    [@fadeEffect]
    [viewStatus]="showComponents"
    (updateViews)="updateViewStatus($event)"
    *ngIf="showComponents.contact"
    >
    </app-target-service>
  </div>
</div>
